@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue-dark: #0A2B51;
  --blue-text: #4A6FA5;
  --blue-bg: #E7EEF7;
  --yellow-text: #B08968;
  --yellow-bg: #F8EEDB;
  --green-text: #4CAF7A;
  --green-bg: #E6F4EA;
  --grey-light: rgba(0, 0, 0, 0.20);

  --font-roboto: "Roboto", sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  background-color: white;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.20);
}