.form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;

    .form__input, .form__button {
        padding: 1rem;
        border-radius: 15px;
    }

    .form__input {
        grid-column: auto / span 7;
        border: 1px solid var(--grey-light);
    }

    .form__button {
        grid-column: auto / span 1;
        border: none;
        background-color: var(--blue-dark);
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
    }

    .form__example {
        grid-column: auto / span 8;
    }
}